<h1>Welcome to my adventures</h1>

<p>Click <a href= "http:\\localhost:3000\states">here</a> for the states.</p>

<p>Click <a href="http:\\localhost:3000\activities">here</a> for the activities.</p>

